<footer class="container-fluid pt-5 px-0 text-center">
    <div class="row container-fluid g-5 mb-5 mx-0">
        <div class="col-md-4">
            <h4>ABOUT APEX CLUB ASSETS</h4>
            <p>AC Assets Securities and Investment is a top fund management company with a nod for delivering top notch investment services to our clients. We've had a Global presence since 2017. We offer investors the best modern day Fund management in the global market</p>
        </div>
        <div class="col-md-4">
            <h4>Contact Information</h4>
            <p>Address:</p>
            <p>Phone: +1 (925) 587-3214</p>
            <p>Email: contact@acassets.com</p>
        </div>
        <div class="col-md-4">
            <h4>RESOURCES</h4>
            <a href="/about">About Us</a> <br>
            <a href="/FAQ">FAQ</a> <br>
            <a href="/contact-us">Contact Us</a> <br>
            <a href="/login">Login</a> <br>
            <a href="/register">Register</a> <br>
        </div>
    </div>
    <div class="bg-dark mx-0">
        <p class="mb-0 text-center ">© 2021 - ALL RIGHTS RESERVED | APEX CLUB ASSETS</p>
    </div>
</footer>