<nav class="navbar navbar-expand-lg sticky-top navbar-custom align-middle" >
    <div class="container-fluid  px-md-5 px-md-3 ms-md-3 ms-2 me-md-auto me-0 w-100">
        <button class="navbar-toggler me-2 custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon "></span>
        </button>
        <a class="navbar-brand py-0 " href="/">
            <img src="" alt="logo" class="nav_logo">
        </a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="--bs-offcanvas-width:300px; background-color: #121a24;">
        
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item px-2 mt-3 my-lg-0" data-bs-theme="dark">
                  <a class="nav-link float-start color1" href="/" >Home</a>
                  <button type="button" class="btn-close text-success float-end d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </li>
                <hr class=" new3 d-lg-none">
                <li class="nav-item px-2 mb-2 my-lg-0">
                  <a class="nav-link color1 " href="about">About Us</a>
                  <hr class="new3 d-lg-none">
                </li>
                </li>
                <li class="nav-item px-2 mb-2 my-lg-0">
                  <a class="nav-link color1" href="/contact-us"> Contact Us</a>
                  <hr class="new3 d-lg-none">
                  </li>
                <li class="nav-item px-2 mb-2 my-lg-0">
                  <a class="nav-link color1" href="/faq">FAQ</a>
                  <hr class="new3 d-lg-none">
                </li>
                
                <li class="nav-item dropdown px-2 mb-2 my-lg-0">
                  <a class="nav-link color1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Legal
                  </a>
                  <ul class="dropdown-menu " data-bs-theme="dark">
                    <li><a class="dropdown-item color2" href="/privacy">Privacy Policy</a></li>
                    <li><a class="dropdown-item color2" href="/terms-of-service">Terms of Service</a></li>
                  </ul>
                  <hr class="new3 d-lg-none">
                </li>
                
                <li class="nav-item px-2 mb-2 my-lg-0">
                  <a class="nav-link color1 loginbtn" href="/login">Login</a>
                  <hr class=" new3 d-lg-none ">
                </li>
                <li class="nav-item px-2 my-lg-0">
                  <a class="nav-link color1 registerbtn" href="/register ">Register</a>
                </li>
              </ul>
        </div>
      </div>
    </div>
</nav>

<script>
  const loginbtn = document.querySelector('.loginbtn')
  const registerbtn = document.querySelector('.registerbtn')
  let cooki = /logintoken/ 
  let cookiTest = cooki.test(document.cookie)
  // console.log(cookiTest)

  if (cookiTest){
      loginbtn.innerHTML = 'Hi! <%=name%>'
      registerbtn.innerHTML = 'Your Dashboard'
      registerbtn.setAttribute('href', '/dashboard')
      loginbtn.setAttribute('href', '/dashboard')
  }
</script>