<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - AC Assets</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="aboutHead">
        <h3 class="about-us-heading text-center my-4">About Us</h3>
    </div>
    <main class="mw-100">
        <div class="container-fluid">
            <div class="row  gx-sm-5  p-4 my-4 gy-5 mx-sm-5 mx-2">
                <div class="col-lg-6">
                    <h4 class="about-us-heading">About Our Company</h4>
                    <hr class="w-50 new3">
                    <p>As a Leader in Digital Currency Investing, We believe that digital currencies will revolutionize our legacy economic, political, and social systems. With that transformation comes a meaningful generational shift in how institutions and individuals approach investing. That's where Apex Capital Assets investement comes in. <br> <br> As the leading blockchain investment firm and one of the largest institutional owners of cryptocurrencies. Our mission is to act as the catalyst for widespread blockchain adoption and innovation.</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="about-us-heading">Why You Should choose Us</h4>
                    <hr class="w-50 new3">
                    <p>First, we have a good reputation in the market. Only a reputed company will work hard to achieve what you want. We have worked extensively to make sure we keep this reputation by ensuring we continuously give you satisfactory results. <br> <br> Secondly, authenticty is the key here. Unfortunately, there are many that are running online businesses who are only interested in profit and not your long-term growth. So you must always do your homework. Here we are dedicated to providing to making sure we manage your Funds in the best possible way whilst also making sure you make the most of your Deposited Capital.</p>
                </div>
            </div>
            <div class="row  gx-sm-5  p-4 my-4 gy-5 mx-sm-5 mx-2">
                <div class="col-12">
                    <h4 class="about-us-heading">The Team</h4>
                    <hr class="w-50 new3">
                    <p>Apex Capital Assets team is experienced in both traditional finance and emergent blockchain technology. Having strong relationships with some of the most promising entrepreneurs and other top investors in the space. <br> <br> We invest in thematic ideas and projects that are core infrastructure pieces of the blockchain ecosystem, such as exchanges, custodians, institutional trading tools, decentralized finance, next gen payment systems, and more.</p>
                </div>
                <div class="col-12">
                    <h4 class="about-us-heading">Quality Delivery</h4>
                    <hr class="w-50 new3">
                    <p>Allocating funds across different asset classes - from stocks to bonds to digital currencies - allows investors to diversify their investments. In turn, this can help investors lower their risk and generate higher returns.Because Apex Capital Assets manages the token themselves, investors can gain exposure to digital currency investing without the challenges of buying, storing, and safekeeping digital currencies directly.</p>
                </div>
                <div class="col-12">
                    <h4 class="about-us-heading">Problem Solving</h4>
                    <hr class="w-50 new3">
                    <p>Many funds managers have access to the same type of information, but they deliver different performance to their investors. A key differentiator in the quantitative investment management industry is the available for the company of human talent capable of analyzing the available data in a better way and gain better insights than other companies in the same space. In order to explore data in a more meaningful way, and to develop better technology, we look for people who have an innate passion in tackling and solving hard problems and find patterns in large amount of data.</p>
                </div>
                <div class="col-12">
                    <h4 class="about-us-heading">Common Sense</h4>
                    <hr class="w-50 new3">
                    <p>While we need people who are very competent and specialized in their area of expertise, at the same time we need persons who do not get lost in mathematical formulas or writing code for the beauty of it, but who have common sense and perception. We can produce far better results by being able to make hypotheses based on common sense and not get lost into details.</p>
                </div>
            </div>
        </div>
        <div class="community container-fluid text-center m-sm-0">
            <h3 class="mt-5 mb-2 pt-5" >Join Our community of Mordern Investors</h3>
            <hr class="w-50 mx-auto new2">
            <p class="mt-3 ">Thousands of Investors across the world use our Platform and Investment Fund to grow their wealth.</p>
            <div class="row mt-5 gy-sm-5 gy-3 pb-5">
                <div class="col-md-4">
                    <i class="bi bi-globe2"></i>
                    <h1>15000+</h1>
                    <p>Clients</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-award"></i>
                    <h1>110+</h1>
                    <p>Countries</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-trophy"></i>
                    <h1>$20M+</h1>
                    <p>Assets Under Management</p>
                </div>
            </div>
        </div>
        <div class="aboutEnd container-fluid m-sm-0">
            <p class="mb-0 p-sm-5 fs-sm-4 about-us-heading"><b>Join us today at Apex Capital Assets for a brighter future </b> <a href="/register" class="btn btn-primary float-sm-end mx-3 my-1 mx-sm-0 my-sm-0 " >GET STARTED NOW</a></p>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/popup.ejs') %>
</body>
</html>