<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ | AC Assets</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="aboutHead">
        <h3 class="about-us-heading text-center my-4">Frequently Asked Questions</h3>
    </div>
    <div class="container-fluid">
        <div class="accordion m-sm-5 my-5 mx-2 m" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button about-us-heading fw-bold collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Is Apex Capital Assets a registered comapny?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, Apex Capital Assets is registered in the United States as  Apex Capital Assets LTD
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does Apex Capital Assets earn profits for its memebers?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Apex Capital Assets is a company formed by a team of PROFESSIONAL RS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY. Our focus is to provide our affiliates with daily and constant profits in these markets.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  How can I register a new account?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    To register a new account, simply click the “Register” link and fill out the required information.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  How do you keep my money safe?
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Risk Management is quite very much fundamental in successful trading and portfolio management. As professionals, we trade with stringent risk management rules whilst exploring opportunities to maximize gains. The risks inherent in investing are tradeoffs you make to pursue investment returns. We design our portfolio to aim for the highest projected returns given your risk level. We have built a secret system aimed at given longevity. Our system is designed that if peradventure we meet an unforeseen circumstances a customer can still get to take his/her capital and at least 5% profit from his/her total stake out of the system.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 What Investment do you offer?
                </button>
              </h2>
              <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    For each financial goal you set at Apex Capital Assets, we recommend a specific portfolio for you— we have options ranging from crypto currencies, Fx market, Real Estate, an allocation of stock and bonds within our portfolio strategy that suits your needs. This goal-specific portfolios, built of low-cost exchange-traded funds (ETFs), is designed to reflect the global financial market, and is also designed to help maximize expected returns while minimizing risk.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading7">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  What is the minimum and maximum amount for deposit?
                </button>
              </h2>
              <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The minimum deposit amount is $500, the maximum you can deposit at one time is $500,000 Per each deposit , Surely you can make deposit higher than $500,000 by several deposits.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading8">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    What is the minimum and maximum amount for withdrawal?
                </button>
              </h2>
              <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The minimum amount for withdrawal is $1. There is no maximum limit for withdrawal.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading9">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  How Long does it take my deposit to be added?
                </button>
              </h2>
              <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Your deposit is automatically added after 3 network confirmations for cryptocurrencies. 
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading10">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                  How do I request a withdrawal?
                </button>
              </h2>
              <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can request a withdrawal by clicking the “Withdraw” button in the members area and entering the amount you want to withdraw.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading12">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                 How long does it take my withdrawal to be sent?
                </button>
              </h2>
              <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Your withdrawal is sent Instantly after request is confirmed.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading13">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                 Can I withdraw my principal deposit?
                </button>
              </h2>
              <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes,your principal deposit automatically returns to your balance upon investmentment completion.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading13a">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13a" aria-expanded="false" aria-controls="collapse13a">
                 How can I change my payment address?
                </button>
              </h2>
              <div id="collapse13a" class="accordion-collapse collapse" aria-labelledby="heading13a" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can change your payment withdrawal address by clicking the “Settings” button on the menu after logging in to your account. Enter your new payment address and save the changes.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading14">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                 How can I change my account e-mail?
                </button>
              </h2>
              <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    For security reasons, we do not allow users to change their e-mail after registration. If you would like to change your e-mail, please contact our support and we will change it for you.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading15">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                 Do I need to make a deposit to refer new members?
                </button>
              </h2>
              <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    No, you do not need to make a deposit to take part in our referral program.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="heading16">
                <button class="accordion-button collapsed  about-us-heading fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                 How can I contact your support?
                </button>
              </h2>
              <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can contact our support through clicking the “Contact Us” link. We offer support through Contact Form, and E-mail.
                </div>
              </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <%- include('partials/popup.ejs') %>
</body>
</html>