<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - AC Assets</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <div class="carousel-cont">
            <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" >
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    <img src="../assets/images/meeting.jpg" class="d-block w-100 height6" alt="image">
                    <div class="position1">
                        <h1>Cryptocurrency Investment Solutions</h1>
                        <p>Let the Experts trade for you!</p>
                        <a href="/register">Create Account</a>
                      </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <img src="../assets/images/charts.jpg" class="d-block w-100 height6" alt="crypto charts">
                    <div class="position2">
                        <h1>Trading and Management of Cryptocurrency Account Services</h1>
                        <p class="position2p">We are on the lead to bringing freedom to our Business partners. Join our Institutional Crypto Trading and Investment Platform </p>
                        <a href="/register" class="position2a">Get Started</a>
                      </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <img src="../assets/images/piggy-safe.jpg" class="d-block w-100 height6" alt="save">
                    <div class="position3">
                        <h1 class="my-3">Invest For the Future</h1>
                        <h1 class="my-3">Invest For Retirement</h1>
                        <h1 class="my-3">Invest For Financial Independence</h1>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="about-us container-fluid">
            <div class="row mb-5 welcome-to container-fluid hidden">
                <div class="col-lg-7">
                    <h1 class="about-us-heading">Welcome to Apex Capital Assets</h1>
                    <p> <span class="about-us-heading" ><b>AC Assets,</b></span> offers a unique opportunity for everyone who wants to make money on investing in the progressive currency Bitcoin and various other cryptocurrencies. We are one of the leading platforms in the United States offering investement, trading and loan services regulated by the CFTC and based in New York. <br> <br> Our mission is to act as a catalyst for universal adoption and blockchain innovation. Our team has experience in both traditional financing and emerging blockchain technology. <br> <br> As your full-service partner, we'll do the heavy lifting, from onboarding, to ongoing administration, to reporting and investments—at one of the lowest costs in the industry.</p>
                </div>
                <div class="col-lg-5" data-aos="fade-down-left" data-aos-duration="1300">
                    <img src="../assets/images/financial-trade.jpg" alt="" class="img-fluid ">
                </div>
            </div>

            <div class="hidden hidden2">
                <h1 class="about-us-heading text-center mt-5 pt-5" data-aos="fade-up" data-aos-duration="1300" >Our Core Services</h1>
                <hr class="w-25 text-center new1">
                <div class="row  mt-4 mx-md-5 core-services gy-3 gx-3">
                    <div class="col-md-6" data-aos="zoom-out-up" data-aos-duration="1300">
                        <div class="text-center"><i class="bi bi-graph-up-arrow "></i></div>
                        <h3 class="text-center about-us-heading">Crypto Trading Service</h3>
                        <p>At <span class="about-us-heading" ><b>AC Assets,</b></span> we own a set of well trained crypto experts, these Expert trade with what ever amount you invest with AC Assets, You are being credited to your wallet 70% of the successful result, while 30% goes to the support of the company. <br> Note: You are at no loss if the trade was not successful, AC Assets always keeps to it percentage credit. <br> <a href="/register">Get started>></a></p>
                    </div>
                    <div class="col-md-6" data-aos="zoom-out-up" data-aos-duration="1300">
                        <div class="text-center"><i class="bi bi-clipboard2-check-fill"></i></div>
                        <h3 class="text-center about-us-heading">Loaning Service</h3>
                        <p><span class="about-us-heading" ><b>AC Assets,</b></span> Offers different loan plans, which include Business and Personal loan. To Access our loan, please contact our support. <br> <a href="/register">Get Loan>></a></p>
                    </div>
            </div>
            </div>
        </div>
        <div class="community container-fluid text-center">
            <h3 class="mt-5 mb-2 pt-5" >Join Our community of Mordern Investors</h3>
            <hr class="w-50 mx-auto new2">
            <p class="mt-3 ">Thousands of Investors across the world use our Platform and Investment Fund to grow their wealth.</p>
            <div class="row mt-5 gy-sm-5 gy-3 mb-5 pb-5">
                <div class="col-md-4">
                    <i class="bi bi-globe2"></i>
                    <h1>15000+</h1>
                    <p>Clients</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-award"></i>
                    <h1>110+</h1>
                    <p>Countries</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-trophy"></i>
                    <h1>$20M+</h1>
                    <p>Assets Under Management</p>
                </div>
            </div>
        </div>
        <div class="m-sm-5 my-5 mx-2 pt-5 hidden hidden2">
            <h1 class="about-us-heading text-center mb-2 hidden hidden2" data-aos="fade-up" data-aos-duration="1300">What Makes Us Stand Out </h1>
            <hr class="w-50 new3 mx-auto">
            <div class="row m-sm-5 mx-2 my-5 g-sm-5 g-4 hidden hidden2">
                <div class="col-lg-6 order-lg-1 order-2 hidden" data-aos="zoom-out-right" data-aos-duration="1500">
                    <h3 class="about-us-heading">Our AI technology</h3>
                    <hr class="w-50 new3">
                    <p class="justify">We are combining machine language technology with high-speed big data processing power. Our company provides clients with an ongoing assessment of compliance risk. <br> The markets are complex and ever changing. Trade Ideas' A.I. is a virtual research analyst that never sleeps and sifts through technicals, fundamentals, social media, earnings and more, across millions of possible trades every day to find the highest probability, risk appropriate opportunities.</p>
                    <a href="/register" class="fs-5">Explore AI Investing</a>
                </div>
                <div class="col-lg-6 order-lg-2 order-1 hidden" data-aos="zoom-out-left" data-aos-duration="1500">
                    <img src="../assets/images/ai.55f3d96.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row m-sm-5 mx-2 my-5 g-sm-5 g-4 hidden hidden2" data-aos="zoom-out-left" data-aos-duration="1500">
                <div class="col-lg-6 ">
                    <img src="../assets/images/cryptoassets.25b8119.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 hidden"data-aos="zoom-out-right" data-aos-duration="1500" >
                    <h3 class="about-us-heading">Full Ownership of CryptoAssets</h3>
                    <hr class="w-50 new3">
                    <p class="justify">Own your Assets & tokens and still earn traditionally from your investment. Enjoy easy access to innovative investment funds when you invest in venture capital and early-stage tokens.</p>
                    <a href="/register" class="fs-5 about-us-heading">Start Investing Now</a>
                </div>
            </div>
            <div class="row m-sm-5 mx-2 my-5 g-sm-5 g-4 hidden hidden2">
                <div class="col-lg-6 order-lg-1 order-2" data-aos="zoom-out-right" data-aos-duration="1500">
                    <h3 class="about-us-heading">Retirement Income Doesn't Have to Be a Guessing Game</h3>
                    <hr class="w-50 new3">
                    <p class="justify">Stop questioning how much money you have to live on. AC Assets manages risk without sacrificing market returns or flexibility to provide reliable retirement income from your portfolio.</p>
                    <a href="/register" class="fs-5 about-us-heading">Start Earning</a>
                </div>
                <div class="col-lg-6 order-lg-2 order-1" data-aos="zoom-out-left" data-aos-duration="1500">
                    <img src="../assets/images/retirement1.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row m-sm-5 mx-2 my-5 g-sm-5 g-4 hidden hidden2">
                <div class="col-lg-6" data-aos="zoom-out-left" data-aos-duration="1500">
                    <img src="../assets/images/risk-management.dcdf432.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6" data-aos="zoom-out-right" data-aos-duration="1500">
                    <h3 class="about-us-heading">Risk Management</h3>
                    <hr class="w-50 new3">
                    <p class="justify">Our Risk Management team oversees all aspects of both financial and non-financial risks including Market and Liquidity Risk, Counterparty Risk, Model Risk, Operational Risk, and Technology Risk. The firm employs a robust Enterprise Risk framework, which provides for a strong governance structure and ensures independence in risk making decisions. <br><br> We believe it's important for Risk Management to interact closely with the Portfolio Management, Research, and Trading teams, working together in managing risk. Together, we aim to ensure that portfolios are manageable through sudden and severely adverse stress events.</p>
                </div>
            </div>
        </div>
        <div class="investment mt-5 pt-5 hidden hidden2">
            <h1 class="about-us-heading text-center mt-5 pt-3">Our Investment Packages</h1>
            <hr class="w-50 new3 mx-auto">
            <div class="row g-5 mx-5 text-center mt-2 hidden hidden2">
                <div class="col-lg-3">
                    <div class="card h-100" data-aos="zoom-out-left" data-aos-duration="1500">
                        <div class="card-header cardhead-col">
                            <h3>BASIC PLAN</h3>
                        </div>
                        <div class="card-body cardbody-col" >
                            <ul class="list-group list-group-flush cardbody-col">
                                <li class="list-group-item cardbody-col"> Profit: 5% Weekly</li>
                                <li class="list-group-item cardbody-col">Duration: 7 Days</li>
                                <li class="list-group-item cardbody-col">Minimum Deposit: $500</li>
                                <li class="list-group-item cardbody-col">Bonuses Included</li>
                                <li class="list-group-item cardbody-col">Referral Bonus: 5%</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card h-100" data-aos="zoom-out-right" data-aos-duration="1500">
                        <div class="card-header cardhead-col">
                            <h3>PRO PLAN</h3>
                        </div>
                        <div class="card-body cardbody-col" >
                            <ul class="list-group list-group-flush cardbody-col">
                                <li class="list-group-item cardbody-col"> Profit: 25% Monthly</li>
                                <li class="list-group-item cardbody-col">Duration: 30 Days</li>
                                <li class="list-group-item cardbody-col">Minimum Deposit: $15,000</li>
                                <li class="list-group-item cardbody-col">Bonuses Included</li>
                                <li class="list-group-item cardbody-col">Referral Bonus: 5%</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card h-100" data-aos="zoom-out-left" data-aos-duration="1500">
                        <div class="card-header cardhead-col" >
                            <h3>PREMUIM PLAN</h3>
                        </div>
                        <div class="card-body cardbody-col">
                            <ul class="list-group list-group-flush cardbody-col">
                                <li class="list-group-item cardbody-col"> Profit: 30% Monthly</li>
                                <li class="list-group-item cardbody-col">Duration: 90 Days</li>
                                <li class="list-group-item cardbody-col">Minimum Deposit: $45,000</li>
                                <li class="list-group-item cardbody-col">Bonuses Included</li>
                                <li class="list-group-item cardbody-col">Referral Bonus: 5%</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card h-100" data-aos="zoom-out-right" data-aos-duration="1500">
                        <div class="card-header cardhead-col" >
                            <h3>RETIREMENT</h3>
                        </div>
                        <div class="card-body cardbody-col">
                            <ul class="list-group list-group-flush cardbody-col">
                                <li class="list-group-item cardbody-col"> Profit: 50% Monthly</li>
                                <li class="list-group-item cardbody-col">Duration: 180 Days</li>
                                <li class="list-group-item cardbody-col">Minimum Deposit: $100,000</li>
                                <li class="list-group-item cardbody-col">Bonuses Included</li>
                                <li class="list-group-item cardbody-col">Referral Bonus: 5%</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-sm-5 my-5 ms-2 me-4 p-sm-5 py-5">
                <h3 class="about-us-heading text-center mt-5 ">INVESTMENT PACKAGES DESCRIPTION </h3>
                <hr class="w-50 new3 mx-auto">
                <ul class="mt-5">
                    <li>
                        <p class="justify">The first plan is called the BASIC PLAN with a minimum investment of $500 to yield 5% profit after a time frame of 7days. This means after 7 days you get your profit and also capital is returned.</p>
                    </li>
                    <li>
                        <p class="justify">The second plan is called the PRO PLAN with a minimum investment of $15,000 to generate a profit of 25% monthly and it runs for 30days. This means after 30days which is equivalent to a month you get 25% profit of your investment and capital is also returned at the end.</p>
                    </li>
                    <li>
                        <p class="justify">The third plan is known as the PREMIUM PLAN with a minimum investment of $45,000 to earn 30% profit monthly for a duration of 90 days. Capital is also returned at the end of your investment process.</p>
                    </li>
                    <li>
                        <p class="justify">The last plan is referred to as the RETIREMENT PLAN, it runs for a minimum investment of $100,000 which generates 49% profit monthly for 180days. Capital is also returned at the end of your investment process with extra bonus.</p>
                    </li>
                </ul>

            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
    <%- include('partials/popup.ejs') %>

    
    <script>
        AOS.init();
    </script>
    
</body>
</html>