<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | AC Assets</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="aboutHead">
        <h3 class="about-us-heading text-center my-4">Login</h3>
    </div>

    <div class="container-fluid">
        <div class="col-md-5 mx-auto mt-5 my-5 pt-5 pb-3  px-sm-5 px-4 shadow-lg bg-body-tertiary rounded col-10 ">
            <form action="/login" method="post">
                <div >
                    <%- messages('messages', locals) %> 
                </div>
                <div class="mb-4">
                  <label for="InputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="YOUR EMAIL ADDRESS" name="email">
                </div>
                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="YOUR PASSWORD" name="password">
                </div>
                <div class="mb-4 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success mb-4 w-50"><b>Login</b></button>
                </div>
                <p class="text-center">New to Our Platform? <a href="/register"><b>Create an Account</b></a></p>
                <p class="text-center"><a href="/fogotpass">Forgot Password?</a></p>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>