<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdrawal History</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/usernav') %>
    <div class="aboutHead">
        <h3 class="about-us-heading text-center my-4">Withdrawal History</h3>
    </div>

    <div class="container-fluid">
        <div class="row m-sm-5 m-2 ">
            <div class="col border border-white p-3"><b>ID</b></div>
            <div class="col border border-white p-3"><b>AMOUNT</b></div>
            <div class="col border border-white p-3"><b>STATUS</b></div>
            <div class="col border border-white p-3"><b>DATE</b></div>
        </div>
    </div>
    
</body>
</html>