.navbar-custom{
    font-size: large;
}
.height6{
    height: 600px;
}

.position1{
    font-size: large;
}
.position1 p{
    margin-bottom: 40px;
    margin-top: 30px;
}

.position2{
    top: 100px;
}
.position2p, .position2a{
    font-size: medium;
}

.community{
    height: auto;
}

.welcome-to{
    margin-left: 0px;
    margin-right: 0px;
    text-align: justify;
}

.core-services{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.justify{
    text-align: justify;
}

footer{
    font-size: small;
}

.aboutEnd{
    height: auto;
    padding: 20px;
}

#end{
    position: fixed;
    top: 250px;
    height: 80px;
    left: 150px;
    padding: 15px;
}

.registered, .confirm-deposits, .pending-deposits, .withdrawal{
    font-size: xx-small;
}

.pending-deposits i{
    font-size: x-small;
}

.mybutton{
    font-size: x-small;
}