body{
    background-color: #070a0e;
    color: aliceblue;
}
.navbar-custom{
    font-size: large;
    border-bottom: 1px solid rgb(2, 44, 44);
    background-color: #070a0e;
    box-sizing: border-box;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(181, 243, 243)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a{
    text-decoration: none;
    color: rgb(115, 179, 179);
}
.hidden{
    overflow-x: hidden;
}
.hidden2{
    overflow-y: hidden;
}
.color1, .color2{
    color: rgb(192, 238, 217);
    /* color: rgb(4, 88, 88); */
}

.color1:hover{
    color: rgb(192, 238, 217);
}


@media screen and (min-width : 992px){
    .color1:hover{
        scale: 1.2;
    }

}

.carousel-cont{
    height: fit-content;
}
.height6{
    height: 650px;
}

.position1, .position3{
    position: absolute;
    top: 180px;
    left:50px;
    right: 50px;
    color: rgb(181, 243, 243);
    font-size: xx-large;
    text-align: center;
    letter-spacing: 2px;
}
.position1 p{
    margin-bottom: 40px;
    margin-top: 30px;
}

.carousel-item a{
    text-decoration: none;
    color:black;
    border: 1px solid rgb(181, 243, 243);
    border-radius: 35px;
    background-color: rgb(181, 243, 243);
    padding: 5px 8px;
}

.carousel-item a:hover{
    background-color: black;
    color:rgb(181, 243, 243);
    border-color:black ;
}

.position2{
    position: absolute;
    top: 150px;
    left:50px;
    right: 50px;
    color: rgb(181, 243, 243);
    text-align: center;
    letter-spacing: 2px;
}

.position2p{
    font-size: x-large;
    margin: 30px;
}

.position2a{
    font-size: xx-large;
}
.about-us{
    margin: 80px 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.welcome-to{
    margin: 0 10px;
    
}

.about-us-heading{
    color: rgb(181, 243, 243);
    /* color: rgb(4, 88, 88); */
}

.about-us i{
    font-size: 50px;
    color: rgb(190, 240, 226);
}



hr.new1{
    border: 1px solid rgb(209, 243, 243);
    margin: 0 auto;
}

.community{
    background-image: url(../assets/images/laptop.jpeg);
    background-attachment: fixed;
    background-position: center;
    margin-top: 80px;
    width: 100%;
    height: 600px;
    color: rgb(181, 243, 243);
}

@media screen and (max-width : 768px){
    .community{
        height: auto;
    }
}

.community i{
    font-size: 50px;
}
hr.new2{
    border: 1px solid rgb(243, 232, 212);
}
hr.new3{
    border: 1px solid rgb(226, 250, 250);
}
footer{
    background-color: rgb(56, 51, 51);
    color: rgb(194, 216, 216);
}
footer a{
    color: rgb(194, 216, 216);
}

footer h4{
    color: antiquewhite;
}

.bord2{
    border-bottom-left-radius:25px ;
    border-bottom-right-radius: 25px;
}
.bord1{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important
}

.cardhead-col{
    background-color:rgb(181, 243, 243) ;
    color: #070a0e;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cardbody-col{
    font-weight: 700;
    background-color: #16202c;
    color: rgb(181, 243, 243);
    
}

#end{
    font-size: 15px;
    color: rgb(4, 88, 88);
    border: 1px solid rgb(233, 247, 247);
    border-radius: 20px;
    background-color: rgb(209, 245, 245);
    width: 250px;
    padding: 20px;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.aboutHead{
    background-color: rgb(41, 58, 58);
    border-top: 2px solid rgb(75, 78, 78);
    border-bottom: 2px solid rgb(75, 78, 78);
}
.aboutEnd{
    background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
    color: #070a0e;
    font-size: large;
}

.justify{
    text-align: justify;
}

.sizing{
    box-sizing: border-box;
}

.contactEnd{
    background-color: rgb(4, 88, 88);
    color: white;
    border-radius: 15px;
    height: fit-content;
}

.w-auto{
    width: min-content;
}

.backg{
    background-color: #070a0e;
}

.bigger{
    font-size: xx-large;
}

#tradingview_537b9{
    height: 500px;
    margin: 20px;
    margin-top: 50px;
}

.small{
    font-size: smaller;
}

.feedback{
    background-image: url(../assets/images/laptop-bg.jpeg);
    height: 400px;
}

.calculator{
    position: fixed;
    top: 150px;
    right: 10px;
}

.pending-deposits i{
    font-size: xx-large;
}